* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin:0;
  padding:0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, select, input, button { outline: none; }

html {
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #efefea;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

main {
  height: 100vh;
  width: 100%;
  padding: 0px;
}

.dasswerke-logo {
  width: 128px;
}

.heading {
  padding: 36px 40px 80px 40px;
  background-color: #efefea;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.first-block {
  padding: 36px 40px 80px 40px;
  font-size: 12px;
  background-color: #efefea;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.link {
  margin-top: 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 4px 11px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #000;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease-in;
}

.link:hover {
  color: #000;
  border: 1px solid #000;
  background: transparent;
}

.main-text {
  max-width: 600px;
  font-size: 60px;
  line-height: 66px;
  padding-top: 20px;
  letter-spacing: -0.02em;
}


.numbers {
  font-size: 20px;
  padding-bottom: 20px;
}

.newsletter-input {
  border: none;
    padding: 1px 0px 1px 12px;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 20px;
    outline: none;
    width: 180px;
    line-height: 22px;
}

.newsletter-input:focus {
  outline: none;
  background-color: #fff;
}

.newsletter-submit, input[type=button], input[type=submit], input[type=reset] {
  padding: 4px 11px;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #000;
    color: #efefea;
    cursor: pointer;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease-in;
     -webkit-appearance: none;
}

.newsletter-submit:hover {
  background-color:transparent;
  border: 1px solid #000;
  color: #000;
}

.second-block-wrapper {
 padding: 0px;
}

.second-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  box-sizing: border-box;
  background-color: #efefea;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.line {
  margin: 0 40px;
  height: 1px;
  background-color: #000;
}

.second-block-cell {
  grid-column: span 1;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease-in;
}

.second-block-cell:hover {
  color: #88aece;
}

.second-block-cell:hover .button, .second-block-cell:hover .link {
  background-color: #88aece;
  border: 1px solid #88aece;
}

.second-block-cell:hover .button:hover, .second-block-cell:hover .link:hover {
  color: #88aece;
  background-color: transparent;
  border: 1px solid #88aece;
  font-weight: normal;
}

.second-block-cell:hover .button:active, .second-block-cell:hover .link:active {
  color: #efefea;
  background-color: #000;
}

.second-block-cell-inner {
  font-size: 12px;
  border-right: 1px solid #000;
  margin-top: 40px;
  min-height: 180px;
  padding-left: 40px;
  padding-right: 40px;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease-in;
}


.cursor {
	position: relative;
  width: 100%;
}

.cursor	i {
  position: absolute;
      width: 1px;
      height: 60%;
      background-color: gray;
      left: 12px;
      top: 10%;
      animation-name: blink;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

.iframe-tumblr {
  position: absolute;
  top: 0px;
  z-index: -1;
  margin-top: 100vh;
}

.shrink {
  margin-top: 0px;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

footer {
  font-size: 9px;
  color: #000;
  padding: 8px 0px 10px 40px;
  margin: 100px 40px 0 40px;
  text-align: right;
  box-sizing: border-box;
  border-top: 1px solid #000;
}

.hide {
  opacity: 0!important;
  visibility: hidden!important;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

@media (max-width: 800px) {
  .second-block-cell {
    grid-column: span 3;
    padding: 0 40px;
  }
  .second-block-cell-inner {
    border-right: 0px solid #000;
    border-bottom: 1px solid #000;
    padding: 0px;
    min-height: 10px;
    margin-top: 20px;
    padding-bottom: 24px;
  }
  .border-fix {
    border-bottom: none;
  }
}

@media (max-width: 600px) {
  .cursor	i {
    height: 16px;
    left: 12px;
    top: 12px;
  }

  .newsletter-submit, input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    padding: 14px 16px;
    border-radius: 34px;
  }

  .newsletter-input {
    height: 40px;
    width: 100%;
  }

  .link {
    width: 100%;
    padding: 14px 16px;
    border-radius: 34px;
  }

  .second-block-cell-inner {
    font-size: 10px;
    line-height: 14px;
  }

  .dasswerke-logo {
    width: 104px;
  }
  .main-text {
    font-size: 20px;
    line-height: 26px;
    max-width: 80%;
  }
  .heading {
    padding: 36px 24px 80px 24px;
  }
  .first-block {
    padding: 36px 24px 80px 24px;
  }
  .numbers {
    font-size: 16px;
  }
  .line, .second-block-cell {
    padding: 0 24px;
  }
  .line {
    margin: 0 24px;
  }
  footer {
    margin: 100px 24px 0 24px;
  }
}
