main {
  max-width: 2000px;
  margin: 0 auto;
}

.body-copy {
  font-size: 16px;
  line-height: 24px;
}
.featured {
  grid-column: span 2; font-size: 42px; line-height: 56px; letter-spacing: -0.01em; max-width: 1200px;
}
.story-header-image {
    display: block;
    width: 100%;
    height: auto;
}
.story-header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #efefea;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.story-header-grid h1 {
  font-size: 175px;
  font-weight: 400;
  line-height: 152px;
  letter-spacing: -10px;
  font-kerning: normal;
  margin-left:-11px;
}
.story-header-grid h1 span {
  text-transform: uppercase;
}
.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  column-gap: 20px;
}
.item {
  align-self: center;
}
.two-column-grid img {
  width: 100%;
  align-self: center;
}
p:first-of-type {
  font-size: 24px;
  padding-top: 40px;
  padding-left: 40px;
  max-width: 807px;
  line-height: 33px;
}
.big-img {
  padding: 40px;
}
.big-img img {
  display: block;
  width: 100%;
}
.caption {
  display: block;
  padding-top: 6px;
  text-decoration: none;
}
.swiper {
  position: relative;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefea;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 24px;
  color: #000;
}
.swiper-pagination-fraction {
  margin-top: -28px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}
.credit {
  color: grey;
}
  @media (max-width: 900px) {
    .big-img .caption {
      padding-left: 10px;
      padding-right: 10px;
    }
    .caption {
      font-size: 7px;
    }
    .big-img {
      padding: 40px 10px;
    }
    p:first-of-type {
      font-size: 20px;
      padding-left: 40px;
      max-width: 807px;
      line-height: 30px;
    }
    .two-image {
      padding: 40px 10px;
      column-gap: 10px;
    }
    .story-header-grid h1 {
      font-size: 107px;
      font-weight: 400;
      line-height: 99px;
      letter-spacing: -3px;
    }
    .body-copy {
      grid-column: span 2;
      /* padding: 40px 20; */
      font-size: 15px;
      line-height: 23px;
    }
    .story-header-image-cell {
      grid-column: span 2;
      padding-top: 40px;
    }
    .story-header-grid {
        padding: 20px;
    }
    p:first-of-type {
      padding: 0 20px 0 20px ;
      }
    .big-img {
      padding: 0px;
      width: 100%;
    }
  }
