* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin:0;
  padding:0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, select, input, button { outline: none; }

@import url('https://fonts.cdnfonts.com/css/univers-lt-std');

@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('../fonts/UniversLTStd-Light.otf') format('opentype');
}

html {
  font-family: 'Univers LT Std', Helvetica, sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #efefea;
  color: #333;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 0px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.dasswerke-logo {
  width: 100px;
  fill: #333;
}

.heading {
  height: 20vh;
  padding: 36px 40px 20px 40px;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.first-block {
  padding: 2vh 40px; /* Adjusted padding */
  font-size: 12px;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.link {
  margin-top: 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 6px 11px 3px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #333;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease-in;
}

.link:hover {
  color: #333;
  border: 1px solid #333;
  background: transparent;
}

.main-text {
  font-family: 'UniversLTStd-Light', sans-serif;
  max-width: 600px;
  font-size: 5vh; /* Adjusted font size */
  line-height: 5.5vh; /* Adjusted line height */
  padding-top: 2vh;
  letter-spacing: -0.02em;
  color: #333;
}


.numbers {
  font-family: 'UniversLTStd-Light';
  font-size: 24px;
  padding-bottom: 2vh;
}

.newsletter-input {
  border: none;
    padding: 1px 0px 1px 12px;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 20px;
    outline: none;
    width: 180px;
    line-height: 22px;
}

.newsletter-input:focus {
  outline: none;
  background-color: #fff;
}

.newsletter-submit, input[type=button], input[type=submit], input[type=reset] {
  font-family: 'Univers LT Std', Helvetica, sans-serif;
  padding: 6px 11px 3px;
    border-radius: 15px;
    border: 1px solid #333;
    background-color: #333;
    cursor: pointer;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease-in;
     -webkit-appearance: none;
     color: #fff;
}

.newsletter-submit:hover {
  background-color:transparent;
  border: 1px solid #333;
  color: #333;
}

.second-block-wrapper {
 padding: 0px;
}

.second-block {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
   margin-top: 40px;
  box-sizing: border-box;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.first-block {
  flex: 1 0 auto;
}

.line {
  flex: 0 0 auto;
  height: 1px;
  background-color: #333;
  margin: 40px 40px 0 40px;
}

.second-block-cell {
  grid-column: span 1;
  display: flex;
  flex-direction: column
  justify-content: flex-end;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease-in;
}

.second-block-cell:hover {
  color: #81a6b9;
}

.second-block-cell:hover .button, .second-block-cell:hover .link {
  background-color: #81a6b9;
  border: 1px solid #81a6b9;
}

.second-block-cell:hover .button:hover, .second-block-cell:hover .link:hover {
  color: #81a6b9;
  background-color: transparent;
  border: 1px solid #81a6b9;
  font-weight: normal;
}

.second-block-cell:hover .button:active, .second-block-cell:hover .link:active {
  color: #efefea;
  background-color: #333;
}

.second-block-cell-inner {
  font-size: 12px;
  width: 100%;
  border-right: 1px solid #333;
  margin-top: auto;
  margin-bottom: 40px;
  min-height: 180px;
  padding-left: 40px;
  padding-right: 40px;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease-in;
}


.cursor {
	position: relative;
  width: 100%;
}

.cursor	i {
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: gray;
  left: 12px;
  top: 5px;
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

.iframe-tumblr {
  position: absolute;
  top: 0px;
  z-index: -1;
  margin-top: 100vh;
}

.shrink {
  margin-top: 0px;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

footer {
  flex-shrink: 0;
  font-size: 9px;
  color: #333;
  padding: 15px 0px 15px 0px;
  margin: 0 40px;
  text-align: right;
  box-sizing: border-box;
  border-top: 1px solid #333;
}

.hide {
  opacity: 0!important;
  visibility: hidden!important;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

@media (max-width: 800px) {
  .second-block-cell {
    grid-column: span 3;
    padding: 0 40px;
  }
  .second-block-cell-inner {
    border-right: 0px solid #333;
    border-bottom: 1px solid #333;
    padding: 0px;
    min-height: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  .border-fix {
    border-bottom: none;
  }
}

@media (max-width: 600px) {
  .second-block {
    margin-top: 0px;
  }
  .cursor	i {
    height: 16px;
    left: 12px;
    top: 12px;
  }

  .newsletter-submit, input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    padding: 11px 16px 9px;
    border-radius: 34px;
    color: #fff;
    font-family: 'Univers LT Std', Helvetica, sans-serif;
    max-width: 200px;
     -webkit-appearance: none;
     appearance: none;
     font-weight: 400;
  }

  .newsletter-input {
    height: 40px;
    width: 100%;
  }

  .link {
    width: 100%;
    padding: 11px 16px 9px;
    border-radius: 34px;
    max-width: 200px;
  }

  .second-block-cell-inner {
    font-size: 11px;
    line-height: 19px;
  }

  .dasswerke-logo {
    width: 100px;
  }
  .main-text {
    font-size: 28px;
    line-height: 36px;
    max-width: 90%;
  }
  .heading {
    padding: 36px 24px 24px 24px;
    height: 10vh;
  }
  .first-block {
    padding: 36px 24px 80px 24px;
  }
  .numbers {
    font-size: 20px;
  }
  .line, .second-block-cell {
    padding: 0 24px;
  }
  .line {
    margin: 0 24px;
  }
  footer {
    margin: 0px 24px 0 24px;
  }
}
