* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin:0;
  padding:0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #efefea;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

main {
  height: 100vh;
  width: 100%;
  padding: 0px;
}

.stairs {
  display: block;
  width: auto;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
}
